body {
  background-color: #F7F7F7;
}

span.dicom {
  color: #de7474;
  font-weight: 900;
}

nav.navbar.navbar-default.menu-nav.primer-menu {
  margin-bottom: 0px;
}

.container-fluid.search-menu {
    margin-top: 10px;
}

table.table-list thead {
    background: #428ECC;
    color: white;
}

.navbar-nav>li>a {
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 13px;
}

nav.navbar.navbar-default.menu-nav {
  padding-left: 80px;
}

button.btn.btn-blue.div-cancelar-pago {
    margin-left: 50px;
}

.input-group-addon {
  background-color: #428ecc;
}

.input-group.custom-search-form.search_eliminar {
    right: 13px;
}


i.fa.fa-calendar.icon-calendar {
  color: white;
}

.input-group.custom-search-form {
  width: 280px;
  position: relative;
  top: -5px;
}

button.btn.btn-default-sm {
    background: #428ecc;
}

th.td-date {
  width: 175px;
}

label.label-check {
  color: #de7474;
}

.infobox {
    width: 265px;
    height: 100px;
    padding: 25px 3px 6px 20px;
    border: 1px solid;
    border-color: #428ecc!important;
    font-size: 20px;
}

.navbar .navbar-nav>li {
    border: none;
    border-width: 0 1px 0 0;
}

.infobox>.infobox-data>.infobox-data-number {
    font-size: 25px;
}

.infobox .infobox-content {
    color: #555;
    max-width: 185px;
    font-size: 15px;
}

hr{
  border-top: 1px solid #c1c1c1 !important;
}

.full {
    width: 100%;
}

label.col-md-1.control-label.form_client {
    text-align: right;
}

.bottom {
  margin: 15px 0 0 0;
}

.form-control, output {
    color: #77777b;
}

.titulo-col {
  margin-bottom: 10px;
}

nav.navbar.navbar-default.navbar-static-top {
    margin-bottom: 0;
}

nav.navbar.navbar-default {
    border-radius: 0;
    border-top: 0;
}

.div-boton-pagos {
  margin: 10px 0 20px;
  position: relative;
  left: 25px;
  top: 33px;
}

span.espacio {
  margin-left: 35px;
}

.centro {
  border-left: 1px solid #418dcc;
  border-right: 1px solid #418dcc;
}

span.titulo {
    color: #418dcc;
    text-decoration: underline;
}

table.table-list tbody {
    background: #fff;
}

.div-guardar {
  margin-left: -10px;
}

.div-cancelar {
  margin-left: -17px;
  top: 9px;
  position: relative;
  padding: 12px 13px 12px !important;
}

.status {
    font-weight: 500;
    font-size: 0.8em;
    color: white;
    text-transform: uppercase;
    font-size: 11px;
    color: #fff;
    padding: 5px 10px;
}

.search-div {
    margin-top: 2px;
}

.solvente {
  background-color: #60d390;
}

.proximo_vencer {
  background: #ffd21c;
}

.vencido {
  background: #de7474;
}

.dialog {
  text-align: justify;
}

span.precio {
  font-weight: 600;
}

.btn-primary {
    color: #fff;
    background-color: #428ECC;
    border-color: #428ECC;
}

div#breadcrumbs {
  font-size: 12px;
  margin-bottom: 10px;
}

.nav-bar-tittle {
  color: #428ECC !important;
}

.navbar-default {
  border-color: #428ECC;
}

img.header_imagen {
    float: left;
    width: 17%;
    margin-right: 15px;
}

.form-control {
    border-radius: 0;
    border: 1px solid #C1C1C1;
}

.col-md-2.div-boton {
    margin: 10px 0 20px;
    position: relative;
    left: 25px;
}

button.btn-border-blue:hover, button.btn-border-blue:active, button.btn-border-blue:focus
, a.btn-border-blue:hover, a.btn-border-blue:active, a.btn-border-blue:focus,
.btn-border-blue:hover, .btn-border-blue:active, .btn-border-blue:focus {
    background: #5b71dc !important;
    color: #fff !important;;
    text-decoration: none;
}

button.btn-blue:hover, button.btn-blue:active, button.btn-blue:focus
, a.btn-blue:hover, a.btn-blue:active, a.btn-blue:focus,
.btn-blue:hover, .btn-blue:active, .btn-blue:focus {
    background: #fff !important;
    color: #5b71dc !important;;
    text-decoration: none;
}

button.btn-border-blue, .button_to input.btn-border-blue, a.btn-border-blue, .btn-border-blue {
  font-weight: 500;
  font-size: 13px;
  background-color: #fff;
  border: 1px solid #5b71dc;
  padding: 12px 13px 8px;
  color: #5b71dc;
  border-radius: 0px;
  text-shadow: none;
}

button.btn-blue, .button_to input.btn-blue, a.btn-blue, .btn-blue {
  font-weight: 500;
  font-size: 13px;
  background-color: #5b71dc;
  border: 1px solid #5b71dc;
  padding: 12px 13px 8px;
  color: #fff;
  border-radius: 0px;
  text-shadow: none;
}

label.col-md-4.control-label {
    color: #7F7F7F;
}

.panel-default>.panel-heading {
    color: #428ecc;
    border-color: #C1C1C1;
    font-size: 20px;
    font-weight: 900;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: 1px solid #428ecc;
}

.panel-default {
  border-color: #C1C1C1;
  border-radius: 0;
}
